{% extends 'base.html' %}
{% block content %}

<br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded r-text">
    <h1 class="page-header">سبد خرید</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">کالا</th>
            <th scope="col">تعداد</th>
            <th scope="col">قیمت</th>
            <th scope="col">انبار</th>
            <th scope="col">حذف</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for item in cart_items %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'pro_v' pk=item.product.pk %}">{{ item.product.name }}</a></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.cart.product.inventoryId.cityId }}</td>

            <td>
                <form method="post" action="{% url 'delete-cart' id=item.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">حذف</button>
                </form>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4 class="page-header">آدرس</h4>
    <p>
        {{ order_city.0.cityId.name }}
    </p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
    </form>
    <button type="submit" class="btn btn-primary btn-sm"><a class="nav-link active" href="{% url 'home' %}">ادامه
        خرید</a></button>
    <button type="submit" class="btn btn-success btn-sm"><a class="nav-link active"
                                                            href="{% url 'order_create' %}">خرید</a></button>
    <h3>خلاصه</h3>

    <span>تعداد کالا</span>
    <span>{{ cart_total }}</span>
    <br>
    <span>قیمت کل</span>
    <span>T {{ total_price }}</span>
</div>
{% endblock %}
