.r-text {
    direction: rtl;
}
.r-nav-text{
    float:right
}
.body_text {
    font-family: Vazir;
    background-color: #f9f9f9;
    padding-top: 60px;
}

.navbar-nav {
    margin-left: auto;
    }

.card.touchable:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-float-left {
     text-align: left;
}


.list-group-item:hover {
    background-color: #f5f5f5;

}

.list-group-item:hover a {
    color: black;
}

.style_panel_left{
    margin-left: 8px;
}

.style_panel_right{
    margin-right: 8px;
}

.icon-container {
    display: flex;
}

.nav-linkk {
    margin-right: 10px;
}