{% extends 'base.html' %}
{% block content %}
<br>

<h1>مدیریت فروشگاه</h1>
<br>
<div class="d-flex justify-content-between align-items-center">
    {% if user.is_superuser %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h5> محصولات فروشگاه</h5>
                <br>
                <button type="button" class="btn btn-primary btn">
                    <a class="nav-link active" href="{% url 'link_list_pro_v' %}">جزئیات محصولات</a>
                </button>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body text-center">
                <h5>سفارش مشتری</h5>
                <br>
                <button type="button" class="btn btn-primary btn">
                    <a class="nav-link active" href="{% url 'list_order_customer' %}"> لیست سفارش‌ها</a>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h5>تامین کننده</h5>
                <br>
                <button type="button" class="btn btn-primary btn">
                    <a class="nav-link active" href="{% url 'link_sup_list' %}">جزئیات تامین کننده</a>
                </button>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body text-center">
                <h5>انبار</h5>
                <br>
                <button type="button" class="btn btn-primary btn">
                    <a class="nav-link active" href="{% url 'list_inv' %}">جزئیات انبار</a>
                </button>
            </div>
        </div>
    </div>

    {% endif %}
</div>


{% endblock %}