{% extends 'base.html' %}
{% block content %}
<br>

    <h1>مدیریت فروشگاه</h1>
    <br>
<div class="d-flex justify-content-between align-items-center">
    {% if user.is_superuser %}
    <button type="button" class="btn btn-primary btn">
        <a class="nav-link active" href="{% url 'add_product' %}"><b> + </b> اضافه کردن محصولات در فروشگاه</a>
    </button>
    <button type="button" class="btn btn-primary btn">
        <a class="nav-link active" href="{% url 'list_order_customer' %}"> سفارش مشتری </a>
    </button>
    {% endif %}
</div>

{% endblock %}