{% extends 'base.html' %}
{% block content %}
<br>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% if message.tags %}
        {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

</div>
{% endif %}
<button type="button" class="btn btn-primary btn">
    <a class="nav-link active" href="{% url 'add_sup' %}"> اضافه کردن تامین کننده </a>
</button>

<button type="submit" class="btn btn-danger btn-sm" style="float:left"><a class="nav-link active"
                                                                          href="{% url 'panel_admin' %}">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24"
         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
         stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 12l14 0"></path>
        <path d="M5 12l6 6"></path>
        <path d="M5 12l6 -6"></path>
    </svg>
</a></button>

<br>
<br>
<div class="card">
    <div class="card-body">
        <h1>تامین کنندگان</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">تامین کنندگان</th>
                <th scope="col">شماره تلفن تامین کننده</th>
                <th scope="col">حذف</th>
            </tr>
            <tbody class="table-group-divider">
                {% for sl in sup_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ sl.name }}</td>
                    <td>{{ sl.contactInfo }}</td>
                    <td>  
                        <form method="post" action="{% url 'delete_sup' sl.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">حذف
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 7l16 0"></path>
                                <path d="M10 11l0 6"></path>
                                <path d="M14 11l0 6"></path>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                            </svg>
                        </button>
                    </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}