{% load static %}

<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/web_css.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Store{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">صفحه اصلی</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">درباره ما</a>
                </li>
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'contact_us' %}">ارتباط با ما</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <div>
                        <a class="nav-link active" href="{% url 'logout' %}">Hi {{ user.username }}!</a>
                    </div>
                    {% else %}
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log In</a>
                    {% endif %}
                </li>


            </ul>

            <form class="d-flex">
                <div class="btn-group">
                    {% if user.is_authenticated %}
                    <button class="btn btn-outline-success dropdown-toggle mx-auto" type="button"
                            data-bs-toggle="dropdown"
                            data-bs-display="static" aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start">
                        <li><span class="dropdown-item disabled">{{ user.username }}</span></li>
                        <li><a class="dropdown-item" href="{% url 'my_profile' username=user.username %}">View
                            Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'checkout' %}">Cart</a>
                        </li>

                        <li><a class="dropdown-item" href="{% url 'edit_profile' username=user.username %}">Profile
                            setting</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                    {% else %}
                    <a class="btn btn-outline-success mx-auto" href="{% url 'login' %}">Log In</a>
                    {% endif %}
                </div>
            </form>

        </div>
    </div>
</nav>

</body>
</html>
<div class="container">
    {% block content %}
    {% endblock content %}
</div>