{% extends 'base.html' %}
{% block content %}
<title>{% block title %}فروشگاه{% endblock title %}</title>

<br>
 <div class="container text-center">
        <div class="row">
            <div class="col-xxl-4">
                <div class="card" style="width:400px">
                    <div class="card-body">
<!--                        <h5 class="card-title">Product Details</h5>-->
                        <h3 class="card-text">{{ det_pro_v.name }} {{ det_pro_v.Supplier.first }} - 500 گرم</h3>
                        <p><b>قیمت : </b>{{ det_pro_v.price }} T</p>
                        <p><b>انبار : </b> {{ det_pro_v.cityId }}</p>
                        <p><b>یک بسته وزن : </b> 500 گرم </p>
                        <p><b>تعداد موجودی کالا :</b> {{ det_pro_v.quantity }}</p>

                        {% if user.is_authenticated %}
                            <form action="{% url 'add-to-cart' %}" method="post">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="1" min="1" max="{{ det_pro_v.quantity }}">
                                <input type="hidden" name="product_variation_id" value="{{ det_pro_v.pk }}">
                                <button type="submit" class="btn btn-primary">افزودن به سبد خرید</button>
                            </form>
                        {% else %}
                            <p>
                                <button type="submit" class="btn btn-primary">
                                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                                        افزودن به سبد خرید
                                    </a>
                                </button>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <div class="card">
                    <div class="card-body">
                        <p class="text-end">{{ det_pro_v.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

