{% extends 'base.html' %}
{% block content %}
{% load static %}

<title>{% block title %}Product{% endblock title %}</title>

<br>
<div class="row r-text">
    <div class="col-md-4">
        <div class="card r-text" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Product Details</h5>
                <p class="card-text">
                    {{ det_pro_v.productId.name }}
                </p>
                <p>{{ det_pro_v.productId.price }}</p>
                <p>{{ det_pro_v.productId.cityId }}</p>
                <p><b>تعداد موجودی کالا :</b> {{ det_pro_v.productId.quantity }}</p>
                <p>انبار :{{ det_pro_v.inventoryId }}</p>
                {% if product_Invent %}
                <form action="{% url 'add-to-cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="product_variation_id" value="{{ det_pro_v.pk }}">
                </form>
                {% else %}
                <p>No inventory available</p>
                {% endif %}
                {% if user.is_authenticated %}
                <form action="{% url 'add-to-cart' %}" method="post">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="1" min="1" max="{{ det_pro_v.productId.quantity }}">
                    <input type="hidden" name="product_variation_id" value="{{ det_pro_v.pk }}">
                    <button type="submit" class="btn btn-primary">افزودن به سبد</button>
                </form>
                {% else %}
                <button type="submit" class="btn btn-primary">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">
                        Add to Cart
                    </a>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
