{% extends 'base.html' %}
{% block content %}
<title>{% block title %}Home{% endblock title %}</title>

<h1>Home page</h1>
<!--<h5 class="r-text">موقعیت محلی شما در {{ product_v.0.cityId }} هستید.</h5>-->
<br>
<div class="container text-center">
    <div class="row">
        <div class="col-md-9">
            <div class="row row-cols-3">
                {% for product in product_v %}
                <div class="col">

                    <div class="card touchable" style="width: 18rem;">

                        <div class="card-body">
                            {% if product.status == 'موجود' %}

                            <a href="{% url 'pro_v' product.pk %}" style="text-decoration: none; color: #212529;">

                                <h5 class="card-title">{{ product.productId.name }}</h5>
                                <p class="card-text">{{ product.productId.name }}</p>
                                {% endif %}
                                {% if product.status == 'ناموجود' %}
                                <h5 class="card-title">{{ product.productId.name }}</h5>
                                <p class="card-text">{{ product.productId.name }}</p>
                                انبار : {{ product.inventoryId.cityId }}
                                <br><br>
                                <button type="button" class="btn btn-outline-primary" disabled>ناموجود</button>
                                {% else %}

                                <p>انبار : {{ product.inventoryId.cityId }}</p>
                                <p>
                                    قیمت : {{ product.productId.price }} تومان
                                </p>
                                <!--                                <a href="{% url 'pro_v' product.pk %}" class="btn btn-primary">Go somewhere</a>-->
                                <!--                                <br>-->
                                <!--                                <br>-->
                                {% endif %}
                            </a>
                        </div>

                    </div>

                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="r-text" style="position: sticky; top: 0;">
                <ul class="list-group">
                    {% for product in products %}
                    <li class="list-group-item">
                        <a href="/products/{{ product.id }}/"> {{ product.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
</div>


<br>
{% endblock %}