{% extends 'base.html' %}
{% block content %}
<title>{% block title %}فروشگاه{% endblock title %}</title>

<div class="d-flex justify-content-between align-items-center">
    <br>
    <br>
{% if user.is_superuser or user.username == 'admin2' or user.username == 'admin3' %}

    <!--    <button type="button" class="btn btn-primary btn">-->
    <!--        <a class="nav-link active" href="{% url 'add_product' %}"><b> + </b> اضافه کردن محصولات در فروشگاه</a>-->
    <!--    </button>-->
    <button type="button" class="btn btn-primary btn">
        <a class="nav-link active" href="{% url 'panel_admin' %}"> پنل ادمین
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-shield" width="24"
                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h2"></path>
                <path d="M22 16c0 4 -2.5 6 -3.5 6s-3.5 -2 -3.5 -6c1 0 2.5 -.5 3.5 -1.5c1 1 2.5 1.5 3.5 1.5z"></path>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
            </svg>
        </a>
    </button>
    {% endif %}
</div>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% if message.tags %}
        {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <!-- موقعیت شما: <b>{{ product_v.0.cityId }}</b> و انبار موقعیت مکان شما را نمایش خواهد داد. -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">

                {% for product in product_v %}

                <div class="col-md-4 text-center">
                    <a href="{% url 'pro_v' product.pk %}" style="text-decoration: none; color: #212529;">
                        <div class="card touchable" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }} {{ product.Supplier.first }}</h5>
                                <p class="card-text">انبار: {{ product.cityId }}</p>
                                <p class="card-text">{{ product.price }}: قیمت</p>
                                <!--<a href="{% url 'pro_v' product.pk %}" class="btn btn-primary">Go somewhere</a>-->
                                <!--                                {% for inv_product in inv_status %}-->
                                <!--                                <p>{{ inv_product.status }}</p>-->
                                <!--                                {% endfor %}-->
                            </div>
                        </div>
                        <br>
                    </a>
                </div>

                {% endfor %}

            </div>
        </div>
        <div class="col-md-3">
            <div style="width: 18rem;">
                <div class="list-group text-center">
                    <a href="{% url 'home' %}" class="list-group-item list-group-item-action list-group-item-light"
                       style="text-decoration: none; color: black;">
                        تمام محصولات/انبار محلی
                    </a>
                    {% for c in cat %}
                    <a href="/?categories={{ c.pk }}"
                       class="list-group-item list-group-item-action list-group-item-light"
                       style="text-decoration: none; color: black;">
                        {{ c.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
